/*
 * Base layout
 */

.container {
    max-width: 45em;
    margin: 2em auto;
    padding: 0 1.5em;
}

.info {
    display: flex;
    margin-top: 1em;
}

.info > .descriptions {
    flex: 1;
    margin-right: 1em;
}

@media (max-width: 720px) {
    .info {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.slides,
.slides img {
    aspect-ratio: 1 / 1;
}
.slides img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.descriptions p {
    margin: 0.75em 0;
}
.buttons {
    display: flex;
    align-items: flex-start;
}
.buttons label {
    padding: 0.75em;
    cursor: pointer;
}

/*
 * Slider
 */

input[type='radio'] {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
}

.slides {
    display: flex;
    overflow: hidden;
}

.descriptions {
    display: flex;
    overflow: hidden;
}
.descriptions p {
    opacity: 0;
    flex: 0 0 100%;
}

input[type='radio']:nth-child(1):checked ~ .slides img {
    transform: translateX(0);
}
input[type='radio']:nth-child(2):checked ~ .slides img {
    transform: translateX(-100%);
}
input[type='radio']:nth-child(3):checked ~ .slides img {
    transform: translateX(-200%);
}
input[type='radio']:nth-child(4):checked ~ .slides img {
    transform: translateX(-300%);
}
input[type='radio']:nth-child(5):checked ~ .slides img {
    transform: translateX(-400%);
}

.descriptions p:nth-child(1) {
    transform: translateX(0) translateY(0.5em);
}
.descriptions p:nth-child(2) {
    transform: translateX(-100%) translateY(0.5em);
}
.descriptions p:nth-child(3) {
    transform: translateX(-200%) translateY(0.5em);
}
.descriptions p:nth-child(4) {
    transform: translateX(-300%) translateY(0.5em);
}
.descriptions p:nth-child(5) {
    transform: translateX(-400%) translateY(0.5em);
}
input[type='radio']:nth-child(1):checked ~ .info .descriptions p:nth-child(1) {
    opacity: 1;
    transform: translateX(0) translateY(0);
}
input[type='radio']:nth-child(2):checked ~ .info .descriptions p:nth-child(2) {
    opacity: 1;
    transform: translateX(-100%) translateY(0);
}
input[type='radio']:nth-child(3):checked ~ .info .descriptions p:nth-child(3) {
    opacity: 1;
    transform: translateX(-200%) translateY(0);
}
input[type='radio']:nth-child(4):checked ~ .info .descriptions p:nth-child(4) {
    opacity: 1;
    transform: translateX(-300%) translateY(0);
}
input[type='radio']:nth-child(5):checked ~ .info .descriptions p:nth-child(5) {
    opacity: 1;
    transform: translateX(-400%) translateY(0);
}

input[type='radio']:nth-child(1):checked ~ .info .buttons label:nth-child(1) > i,
input[type='radio']:nth-child(2):checked ~ .info .buttons label:nth-child(2) > i,
input[type='radio']:nth-child(3):checked ~ .info .buttons label:nth-child(3) > i,
input[type='radio']:nth-child(4):checked ~ .info .buttons label:nth-child(4) > i,
input[type='radio']:nth-child(5):checked ~ .info .buttons label:nth-child(5) > i {
    background-color: blue;
}

/*
 * Theme
 */

.slides,
.slides img {
    background-color: black;
}
.buttons label > i {
    display: block;
    width: 0.5em;
    height: 0.5em;
    border: 0.1em solid blue;
    border-radius: 50%;
}
.buttons label:hover > i {
    background-color: #ccc;
}
.buttons label:active > i {
    background-color: rgba(0, 0, 255, 0.5);
}

/*
 * Animations
 */

.container {
    opacity: 0;
    animation: ყავარჯენი 0.2s 0.75s forwards;
}

@keyframes ყავარჯენი {
    from { opacity: 0; }
    to { opacity: 1; }
}

.descriptions p {
    transition: opacity ease-out 0.75s, transform ease-in-out 0.75s;
}
.slides img {
    filter: none;
    transition: transform cubic-bezier(0, 0.5, 0, 1) 0.75s;
}
input[type="radio"]:nth-child(1):checked ~ .slides img {
    animation: mb1 0.75s cubic-bezier(0, 0.5, 0, 1);
}
input[type="radio"]:nth-child(2):checked ~ .slides img {
    animation: mb2 0.75s cubic-bezier(0, 0.5, 0, 1);
}
input[type="radio"]:nth-child(3):checked ~ .slides img {
    animation: mb3 0.75s cubic-bezier(0, 0.5, 0, 1);
}
input[type="radio"]:nth-child(4):checked ~ .slides img {
    animation: mb4 0.75s cubic-bezier(0, 0.5, 0, 1);
}

@keyframes mb1 {
    0%     { filter: url('#mb12') }
    8.33%  { filter: url('#mb11') }
    16.67% { filter: url('#mb10') }
    25%    { filter: url('#mb9')  }
    33.33% { filter: url('#mb8')  }
    41.67% { filter: url('#mb7')  }
    50%    { filter: url('#mb6')  }
    58.33% { filter: url('#mb5')  }
    66.67% { filter: url('#mb4')  }
    75%    { filter: url('#mb3')  }
    83.33% { filter: url('#mb2')  }
    91.67% { filter: url('#mb1')  }
    100%   { filter: none         }
}
@keyframes mb2 {
    0%     { filter: url('#mb12') }
    8.33%  { filter: url('#mb11') }
    16.67% { filter: url('#mb10') }
    25%    { filter: url('#mb9')  }
    33.33% { filter: url('#mb8')  }
    41.67% { filter: url('#mb7')  }
    50%    { filter: url('#mb6')  }
    58.33% { filter: url('#mb5')  }
    66.67% { filter: url('#mb4')  }
    75%    { filter: url('#mb3')  }
    83.33% { filter: url('#mb2')  }
    91.67% { filter: url('#mb1')  }
    100%   { filter: none         }
}
@keyframes mb3 {
    0%     { filter: url('#mb12') }
    8.33%  { filter: url('#mb11') }
    16.67% { filter: url('#mb10') }
    25%    { filter: url('#mb9')  }
    33.33% { filter: url('#mb8')  }
    41.67% { filter: url('#mb7')  }
    50%    { filter: url('#mb6')  }
    58.33% { filter: url('#mb5')  }
    66.67% { filter: url('#mb4')  }
    75%    { filter: url('#mb3')  }
    83.33% { filter: url('#mb2')  }
    91.67% { filter: url('#mb1')  }
    100%   { filter: none         }
}
@keyframes mb4 {
    0%     { filter: url('#mb12') }
    8.33%  { filter: url('#mb11') }
    16.67% { filter: url('#mb10') }
    25%    { filter: url('#mb9')  }
    33.33% { filter: url('#mb8')  }
    41.67% { filter: url('#mb7')  }
    50%    { filter: url('#mb6')  }
    58.33% { filter: url('#mb5')  }
    66.67% { filter: url('#mb4')  }
    75%    { filter: url('#mb3')  }
    83.33% { filter: url('#mb2')  }
    91.67% { filter: url('#mb1')  }
    100%   { filter: none         }
}
